<h2>Add An Animal</h2>

<form class="" action="/animals" method="post">
  <label for="name">Enter Animal's Name</label>
  <input type="text" name="name" value="">
  <label for="name">Enter Animal's Species</label>
  <input type="text" name="species" value=""> 
  <label for="name">Enter Animal's Sex</label>
  <input type="text" name="sex" value="">
  <input type="submit" name="" value="Add">
  
</form>