<h2>Delete Account</h2>

<form class="" action="/farmers/<%= @farmer.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" name="" value="delete account"> 
</form>

