<form class = "" action="/login" method="post">
  <label>Username:</label>
  <input type="text" name="username" value="">
  <label>Password</label>
  <input type="password" name="password" value="">
  <input type="submit" value="login">
</form>

<!--params are the container that hold information passed in by user. data structure is a hash -->